@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #eee;
    font-family: 'Ubuntu', sans-serif;
}
h1 {
    font-weight: 700;
    /* font-weight: bold; */
    text-transform: uppercase;
    letter-spacing: 5px;
    /* VW sets the font/text size based on the width of the viewport (AKA Browser window) */
    font-size: 2vw;
    /* font-size: 25px; */
    text-align: center;
    border-bottom: 5px solid #ccc;
    padding-bottom: 10px;
    width: 60%;
    /* "margin: auto" centers the paragraph element horizontally inside the body element */
    margin: auto;
    padding-top: 1rem;
}
img {
    width: 47.5%;
    margin: 1.25%;
    /* The float CSS property places an element on the left or right side of its container/parent, allowing text and inline elements to wrap around it. The element is removed from the normal document flow. Also float removes the "mystery space" between image elements. (Note: This "mystery space" is the actual spaces between img elements in an html file) */
    float: left;
}

p {
    text-align: center;
    font-size: .75rem;
    width: 80%;
    margin: auto;
}

@media (min-width: 568px) {
    img {
    /* 22.5 * 4 = 90 */
    width: 22.5%;
    /* 1.25 * 2 * 4 = 10 */
    margin: 1.25%;
    /* 90 + 10 = 100 */
    }
    h1 {
    /* 22.5 * 2 = 45 */ 
    /* 1.25 * 2 = 2.5 */
    /* 45 + 2.5 = 47.5 */
    width: 47.5%;
    }
    p {
        width: 60%;
        font-size: 1.2rem;
    }
}
